<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="knt2014CommandHandlerFactory" class="com.apr7.sponge.protocol.knt2014.server.command.Knt2014CommandHandlerFactory">
		<property name="handlers">
			<list>
				<bean class="com.apr7.sponge.protocol.knt2014.server.command.CN2011CommandHandler" />
				<bean class="com.apr7.sponge.protocol.knt2014.server.command.CN8011CommandHandler" />
			</list>
		</property>
	</bean>

	<bean id="knt2014ServerHandler" class="com.apr7.sponge.protocol.knt2014.server.ServerHandler">
		<property name="commandHandlerFactory" ref="knt2014CommandHandlerFactory" />
	</bean>

	<bean class="com.apr7.sponge.protocol.knt2014.server.KNT2014Server">
		<property name="serverHandler" ref="knt2014ServerHandler" />
	</bean>
</beans>