<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="com.apr7.sponge.service" />

	<bean class="com.apr7.sponge.service.protocol.ProtocolDataService">
		<property name="protocolRealtimeDataAdapters">
			<list>
				<bean class="com.apr7.sponge.service.protocol.ProtocolRealtimeDataHjt212Adapter" />
				<bean class="com.apr7.sponge.service.protocol.ProtocolRealtimeDataKnt2014Adapter" />
			</list>
		</property>
		<property name="defaultProtocolRealtimeDataAdapter">
			<bean class="com.apr7.sponge.service.protocol.ProtocolRealtimeDataDefaultAdapter" />
		</property>
		<property name="protocolHistoryDataAdapters">
			<list>
				<bean class="com.apr7.sponge.service.protocol.ProtocolHistoryDataHjt212Adapter" />
				<bean class="com.apr7.sponge.service.protocol.ProtocolHistoryDataKnt2014Adapter" />
			</list>
		</property>
		<property name="defaultProtocolHistoryDataAdapter">
			<bean class="com.apr7.sponge.service.protocol.ProtocolHistoryDataDefaultAdapter" />
		</property>
	</bean>
</beans>