<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="hjt212CommandHandlerFactory" class="com.apr7.sponge.protocol.hjt212.server.command.Hjt212CommandHandlerFactory">
		<property name="handlers">
			<list>
				<bean class="com.apr7.sponge.protocol.hjt212.server.command.CN2011CommandHandler" />
			</list>
		</property>
	</bean>

	<bean id="hjt212ServerHandler" class="com.apr7.sponge.protocol.hjt212.server.ServerHandler">
		<property name="commandHandlerFactory" ref="hjt212CommandHandlerFactory" />
	</bean>

	<bean class="com.apr7.sponge.protocol.hjt212.server.HJT212Server">
		<property name="serverHandler" ref="hjt212ServerHandler" />
	</bean>
</beans>