<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:kiev="http://www.meizu.com/kiev/schema/service"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
     http://www.meizu.com/kiev/schema/service http://www.meizu.com/kiev/schema/service.xsd">
	
	<bean id="dataSource" class="com.meizu.jdbc.druid.DruidBalanceDataSource" destroy-method="close">
		<property name="driverClassName" value="com.alibaba.druid.proxy.DruidDriver" />
		<property name="writeJdbcUrl" value="${meizu_store.database.url.write}" />
		<property name="readJdbcUrl" value="${meizu_store.database.url.read}" />
		<property name="username" value="${meizu_store.database.username}" />
		<property name="password" value="${meizu_store.database.password}" />
		<property name="maxActive" value="${meizu_store.database.max.pool.size}" />
		<property name="initialSize" value="5" />
		<property name="maxWait" value="1000" />
		<property name="minIdle" value="5" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="select 1" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="maxPoolPreparedStatementPerConnectionSize" value="0" />
		<!-- <property name="properties">
			<map>
			    <entry key="filters" value="mergeStat" />
			</map>
		</property> -->
	</bean>
	
	<bean id="statsDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.alibaba.druid.proxy.DruidDriver" />
		<property name="url" value="${stats.database.url}" />
		<property name="username" value="${stats.database.username}" />
		<property name="password" value="${stats.database.password}" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="oceanSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
			value="classpath:com/meizu/ocean/manage/dao/impl/mysql/*.xml" />
	</bean>

	<bean id="oceanMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="oceanSqlSessionFactory" />
		<property name="basePackage" value="com.meizu.ocean.dao.impl.mysql,
								com.meizu.ocean.manage.dao.impl.mysql, 
								com.meizu.ocean.manage.domain,
								com.meizu.ocean.statement.dao.impl.mysql,																
								com.meizu.ocean.res.dao.impl.mysql" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean>
	
	<bean id="statsSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="statsDataSource" />
		<property name="mapperLocations"
			value="classpath:com/meizu/ocean/manage/stats/dao/impl/mysql/*.xml" />
	</bean>

	<bean id="statsMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="statsSqlSessionFactory" />
		<property name="basePackage" value="com.meizu.ocean.manage.stats.dao,com.meizu.ocean.manage.stats.dao.impl.mysql, com.meizu.ocean.stats,com.meizu.ocean.widget.stats" />
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean>
	
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<array>
				<value>com.meizu.ocean.validator</value>
			</array>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="0" />
	</bean>
	
	<bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	    <property name="templateLoaderPath" value="/WEB-INF/views/" />
	    <property name="freemarkerSettings">
            <props>  
            	<prop key="default_encoding">UTF-8</prop>
            	<prop key="output_encoding">UTF-8</prop>
                <prop key="template_update_delay">5</prop>  
                <prop key="tag_syntax">auto_detect</prop>
                <prop key="locale">zh_CN</prop>  
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>  
                <prop key="date_format">yyyy-MM-dd</prop>  
                <prop key="time_format">HH:mm:ss</prop>  
                <prop key="number_format">#.##</prop>
                <prop key="classic_compatible">true</prop>
            </props>  
        </property>    
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- 修改为使用idcmail.meizu.com，与麦兴沟通不需要密码发送邮件 -->
		<!--  <property name="host" value="mail.meizu.com" /> -->
		<property name="host" value="${ocean.mail.host}" />
		<property name="username" value="account" />
		<property name="password" value="${ocean.mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	
	<bean id="mailEngine" class="com.meizu.ocean.common.utils.MailEngine">
		<property name="mailSender" ref="mailSender" />
		<property name="freeMarkerConfigurer" ref="freeMarkerConfigurer" />
	</bean>
	
	<!-- redis监控统计配置 -->
	<bean id="statisticConfig" class="com.meizu.redis.client.session.StatisticConfig">
	    <property name="serviceName" value="ocean"/><!-- 业务名称 -->
	    <property name="resTimeThreholds"><!-- 统计响应时间(毫秒数)的分布。默认值:[0,5,10,15]表示会统计：[0-5,5-10,10-15,15-max]各自的数量。 -->
	        <list>
	            <value>0</value>
	            <value>5</value>
	            <value>10</value>
	            <value>15</value>
	        </list>
	    </property>
	    <property name="uploadPeriodMillis" value="60000"/><!--上传间隔毫秒数，默认是60000 -->
	    <property name="uploadUrl" value=""/>
	    <property name="maxSlowerCount" value="10"/><!-- 保留最慢的命令的个数 -->
	    <property name="maxLargerCount" value="10"/><!-- 保留长度最大的命令的个数 -->
	</bean>
	
	<kiev:registry url="${kiev.local.zk.connect}" />
	
	<!-- 作为客户端使用服务 -->
	<kiev:client workThread="8" loadbalancer="roundrobin" timeout="8000" protocol="hessian" />
	
	<kiev:stub id="pushService" timeout="60000" interface="com.meizu.push.service.PushService" node="/service/push/public" retry="0"/>
	
	<!-- BASE
	<import resource="classpath*:config/manage-base-datasource.xml" />
	 -->
	<!-- UGC -->
	<import resource="classpath*:config/manage-ugc-datasource.xml" />
	<import resource="classpath*:config/manage-cache.xml	" />
	<import resource="classpath*:config/manage-service.xml" />
	<!-- <import resource="classpath*:config/manage-redis.xml" /> -->
	<import resource="classpath*:config/manage-redis-low.xml" />
	<import resource="classpath*:config/manage-redis-high.xml" />
	<import resource="classpath*:config/manage-metaq.xml" />

	<import resource="classpath*:config/spring-order-stub.xml" />
	<import resource="classpath*:config/spring-uc-stub.xml" />
	
	<!-- 游戏中心服务化配置 -->
	<import resource="classpath*:config/spring-history-stub.xml" />
<!-- 	<import resource="classpath*:config/spring-push-stub.xml" /> -->
	
	<import resource="classpath*:config/spring-eval-stub.xml" />
	<import resource="classpath*:config/spring-kiev-core-stub.xml" />
	<import resource="classpath*:config/spring-cc-outter-stub.xml" />
	<import resource="classpath*:config/spring-game-stub.xml" />
	<import resource="classpath*:spring-open-stub.xml" />
	
	<import resource="classpath*:config/spring-ocean-push-stub.xml" />
	<import resource="classpath*:config/spring-activity-stub.xml" />
	
	<import resource="classpath*:config/manage-mpad-datasource.xml" />
	<import resource="classpath*:config/manage-mpad-service.xml" />
	
</beans>
