<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.3.xsd">

	<bean id="commandExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
		<property name="poolSize" value="16" />
	</bean>

	<task:scheduler id="scheduler" pool-size="3" />
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="refreshNbaStandingsTask" method="task" cron="0 0/40 * * * ?" />
	</task:scheduled-tasks>
</beans>